


<div class="max-w-screen-md mx-auto text-center">
  <div class="text-container">
    <figure class="border-thick">
      <p class="text-2xl italic font-medium text-gray-900 dark:text-white">
        50 Ans de Passion
      </p>
      <p class="text-3xl italic font-medium text-gray-900 dark:text-white">
        50 Ans de Collection
      </p>
      <p class="text-4xl italic font-medium text-gray-900 dark:text-white">
        Aujourd'hui une Exposition
      </p>
    </figure>
  </div>

  <!-- Ajoutez une classe margin-bottom à votre container photo-container -->
  <div class="photo-container margin-bottom">
    <img src="/assets/1200x680_gettyimages-946319974.png" alt="Description de l'image">
  </div>
</div>




