body {
  margin: 0;
}

.full-width-container {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.full-height-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
