<div class="flex flex-wrap flex-row">
  <ng-container *ngFor="let article of article">
    <a [routerLink]="[article.id_article]" class="w-4/12">
      <div class="p-5">
        <img
          class="rounded-t-lg mb-2 object-cover h-48 w-96 m-auto"
          [src]="baseUrl + article.id_picture"
          alt=""
        />
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ article.year }}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ article.titre }}
        </p>

      </div>
    </a>
  </ng-container>
</div>
