<form [formGroup]="modifyArticleForm" class="m-9" *ngIf="!loading">
  <div class="mb-6 w-2/6">
    <label for="titre">Titre</label>
    <input type="text" [(ngModel)]="article.titre" class="mt-4 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="titre" formControlName="titre">
  </div>
  <div class="mb-6  w-2/6">
    <label for="year">Year</label>
    <input type="text" [(ngModel)]="article.year" class="mt-4 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="year" formControlName="year">
  </div>
  <div class="mb-6 w-2/6">
    <label for="description">Description</label>
    <textarea [(ngModel)]="article.description" class="resize-none block p-2.5 mt-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="description" rows="5" formControlName="description"></textarea>
  </div>
  <div class="my-6 flex flex-row h-28">
    <div>
      <button class=" MODIF bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="imageInput.click()">AJOUTER IMAGE</button>
    </div>
    <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)" hidden/>
    <img [src]="imagePreview" *ngIf="imagePreview" style="max-height: 100px;display:block"  class="ml-8">
  </div>
  <div class="mb-6 w-2/6">
    <label for="category">Category</label>
    <select [(ngModel)]="article.id_category" class="mt-4 bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="category" formControlName="category">
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let category of categories" [value]="category.id_category">{{ category.name }}</option>
    </select>
  </div>
  <div class="flex justify-center">
    <button class=" MODIF bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="onSubmit()" [disabled]="modifyArticleForm.invalid">Modifier</button>
  </div>
</form>
<p class="w-2/12 opacity-80 text-center bg-green-400 text-white m-auto py-4 rounded-lg" *ngIf="successMsg">{{ successMsg }}</p>
<p class="w-2/12 opacity-80 text-center bg-red-400 text-white m-auto py-4 rounded-lg" *ngIf="errorMsg">{{ errorMsg }}</p>
