
<form class="w-3/6 shadow-sm mx-auto" [formGroup]="addUser" (ngSubmit)="OnAddUser()">
  <div class="mb-6">
    <label
      for="Prénom"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Prénom</label
    >
    <input
      formControlName="firstname"
      type="text"
      id="firstname"
      [ngClass]="
        addUser.get('firstname')?.invalid && addUser.get('firstname')?.touched
          ? 'border-red-600'
          : 'border-gray-300'
      "
      class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="....................*"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="Nom"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >
      Nom</label
    >
    <input
      formControlName="name"
      type="text"
      id="name"
      [ngClass]="
        addUser.get('name')?.invalid && addUser.get('name')?.touched
          ? 'border-red-600'
          : 'border-gray-300'
      "
      class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="....................*"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="Mot De Passe"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Mot De Passe</label
    >
    <input
      formControlName="password"
      type="password"
      id="password"
      [ngClass]="
        addUser.get('password')?.invalid && addUser.get('password')?.touched
          ? 'border-red-600'
          : 'border-gray-300'
      "
      class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="....................*"
      required
    />
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group">
      <label
        for="Email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="text"
        id="email"
        [ngClass]="
          addUser.get('email')?.invalid && addUser.get('email')?.touched
            ? 'border-red-600'
            : 'border-gray-300'
        "
        class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="....................*"
        required
      />
    </div>
  </div>
  <button
    type="submit"
    [disabled]="addUser.invalid"
    class=" test text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs sm:text-sm w-full sm:w-auto px-4 py-2 text-center dark:bg-yellow-600 dark:hover:bg-blue-700 dark:focus:ring-yellow-800"
  >
  Rejoindre Fan Of Tennis
  </button>
</form>

<div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>
<a [routerLink]="['/connexion']">Déjà un compte ? C'est par ici !</a>
